{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block breadcrumb %}
  <li class="breadcrumb-item active"><a href="{{root}}/{{user.username}}">Home</a></li>
{% endblock %}


{% block content %}

<form method="post" novalidate>
        {% csrf_token %}
            
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-inline">
        <div class="mx-lg-5">
        {{ field| add_class:'form-control'}}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    {% endfor %}
</form>
</br>

<div class="row">
  <div class="col-sm">
    {% include 'includes/latest_entries.html' %}
  </div>
  <div class="col-sm">
        <!-- TODO: improve responsiveness of UI
             (ajax/django-channels to show status
             of current running tasks
             (archiving entry, ,edia download, ...) -->
    <div align="center"> 
      <a href="#" data-toggle="collapse" data-target="#id-task_list" aria-expanded="true" aria-controls="id-task_list">
        tasks running
      </a>
    </div>
    <div class="collapse show" id="id-task_list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">title</th>
          <th scope="col">status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> TODO </td>
          <td> TODO </td>
          <td> {running, waiting, finished, error} </td>
        </tr>
        <tr>
          <td> TODO </td>
          <td> TODO </td>
          <td> TODO </td>
        </tr>
        <tr>
          <td> TODO </td>
          <td> TODO </td>
          <td> TODO </td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>
</div>

<div align="center">
    <h2> Library </h2>
</div>

<div class="card" id="id-library_toplevel">
<table class="table table-hover" >
<thead class="thead-dark" id="thead-dark">
  <tr>
    <th></th>
    <th>Directory</th>
    <th class="align-middle px-1">Links</th>
    <th class="align-middle">Action</th>
  </tr>
</thead>
<tbody id="tbody">
  {% for index, key, value, loc, rename_link, remove_link in usr_list %}
    <tr>
        <td><img src="{% static 'folder.svg' %}" width="20"></td>
      <td>
        <a href="{{ loc }}">{{ key }}</a>
      </td>
      <td class="align-middle">
        {{ value }}
      </td>
      
      <td>
          
           <div class="btn-group m-r-10">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-link dropdown-toggle waves-effect waves-light" type="button"><span class="caret"><img src="{% static 'menu.svg' %}" width="20"></span></button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" data-link="{{ rename_link }}" href="{{rename_link}}" title="{{key}}" data-val="dir">Rename</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-link="{{ remove_link }}" href="{{remove_link}}" title="{{key}}" data-val="dir">Remove</a>
            </ul>
          </div>

      </td>
      
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
    
